.nav-link{
  color: white !important;
}

.navbar-toggler{
width: 300px;
background-color: white;
}

.navbar-toggler-icon {
color: white !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.0rem!important;
  /* padding: 2px; */
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 10px!important;
  margin-bottom: 0;
  list-style: none;
}