/*.nav-link{
  color: white !important;
}*/

    /* Add this style block in your HTML head or in your stylesheet */
    .navbar_background a.nav-link {
      <?php
      // Apply the text color to the nav-text based on the $navbar_text_color variable
      if ($navbar_text_color) {
          echo 'color: ' . esc_attr($navbar_text_color) . ';'!important;
      }
      ?>
  }

.navbar-toggler{
width: 300px;
background-color: white;
}

.navbar-toggler-icon {
color: white !important;
}

